#login-button {
    margin-top: 10px;
    text-align: center;
    /* font-weight: bold; */
}
#login-button a {
    color: #eee;
    font-size: 18px;
    transition: all 0.25s;
    text-decoration: none;
}

#login-button a:hover {
    transition: all 0.25s;
    cursor: pointer;
}