{
  "extends": "airbnb",
  "plugins": [
    "react-hooks"
  ],
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": ["error", "windows"],
    "jsx-a11y/media-has-caption": "off",
    "max-len": ["error", { "code": 120 }],
    "no-console": "off",
    "no-case-declarations": "off",
    "no-cond-assign": ["error", "except-parens"],
    "react/jsx-filename-extension": [0],
    "react/forbid-prop-types": [
      "error",
      {
        "forbid": ["any"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
