#data-form-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  #data-form-image {
    width: 175px;
    height: 225px;

    background-size: cover;
    background-repeat: no-repeat;
  }

  #data-form-content {
    min-width: 250px;
    max-width: 350px;
    padding: 20px 50px 20px 30px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;

    #data-form-title {
      color: #222;
      font-size: 36px;
      font-family: Patua One;
      padding-bottom: 10px;
    
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    #data-form-fields {
      grid-area: 2 / 2 / 3 / 3;
      display: flex;
      flex-direction: row;

      input {
        color: #222;
        font-size: 18px;
        width: 100px;
        height: 40px;
        padding-left: 15px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        &::placeholder {
          font-size: 14px;
        }

        &#data-form-score-value {
          margin-left: 10px;
          width: 65px;
          animation: fieldEntry 0.5s 1;
          -webkit-animation: fieldEntry 0.5s 1;
        }
      }
    }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@keyframes fieldEntry {
  0% {
    opacity: 0;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
