/* GENERIC STYLES */
.green {
  color: #2c2;
}

.cyan {
  color: #2cc;
}

#app {
  min-height: 100vh;
  background-color: #222;
  color: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
}

#login-phase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#login-phase.leaving {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  opacity: 0;
  transition: all 0.75s ease-out;
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -ms-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
}

#login-phase.left {
  opacity: 0;
  display: none;
}

/* -------------- */
/* MAIN PHASE CSS */
/* -------------- */

#help-message.TRANSITION {
  opacity: 0;
  transform: translateX(-20px);
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
}

#help-message {
  opacity: 1;
  transform: translateX(0);
  position: fixed;
  bottom: 30px;
  color: #eee;
  background-color: #eee3;
  border: 1px solid #eee;
  padding: 15px 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

#main-phase {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}

#main-phase.not-entered {
  display: none;
  opacity: 0;
}

#main-phase.preenter {
  display: block;
  opacity: 0;
}

#main-phase.entering {
  display: block;
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.75s;
  
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -ms-transition: all 0.75s;
  -o-transition: all 0.75s;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

#main-phase.entered {
  display: block;
  opacity: 1;
  transform: translateY(0px);
}

/* a-or-m */
#a-or-m-phase {
  font-family: Patua One;
  font-size: 48px;
}

.aom-a {
  color: #c66;
}
.aom-m {
  color: #66c;
}

.bold {
  font-weight: bold;
  font-size: 1.1em;
}
.dark {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
}

/* Search phase */

#search-phase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px 15px 25px;
  font-size: 18px;
  border-radius: 50px;
  border: 2px solid #99e0;
  transition: all 0.25s;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#search-input:focus {
  border: 2px solid #99e;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

#results-view.inactive {
  max-height: 0px;
}

#results-view {
  max-height: 1080px;
  transition: max-height 1s ease-out;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 0.33fr 0.33fr 0.34fr;
  animation: resultItemEntry 1s;
  -webkit-animation: resultItemEntry 1s;
  -webkit-transition: max-height 1s ease-out;
  -moz-transition: max-height 1s ease-out;
  -ms-transition: max-height 1s ease-out;
  -o-transition: max-height 1s ease-out;
}

#results-item {
  display: grid;
  grid-template-rows: auto auto;
  margin: 10px;
  animation: resultItemEntry 1s;
  animation-fill-mode: forwards;
  /* animation-delay: 1s; */
  -webkit-animation: resultItemEntry 1s;
  -webkit-animation-fill-mode: forwards;
  /* -webkit-animation-delay: 1s; */
}

#result-item-title {
  width: 230px;
  font-size: 20px;
  /* height: 26px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Patua One;

  opacity: 0;
  animation: resultItemTitleEntry 0.75s;
  -webkit-animation: resultItemTitleEntry 0.75s;
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes resultItemTitleEntry {
  0% {
    opacity: 0;
    width: 230px;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
  100% {
    opacity: 1;
    width: 460px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

#results-item #result-item-title ~ .img {
  width: 460px;
  height: 99px;
  transition: all 0.75s;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -ms-transition: all 0.75s;
  -o-transition: all 0.75s;
}

#results-item .img {
  object-fit: cover;
  width: 230px;
  height: 330px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.75s;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -ms-transition: all 0.75s;
  -o-transition: all 0.75s;
}

/* Main phase item states (active, preenter, leaving, inactive) */
.main-phase-item {
  transition: all 0.75s;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -ms-transition: all 0.75s;
  -o-transition: all 0.75s;
}

.main-phase-item.active {
  opacity: 1;
  display: block;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.main-phase-item.preenter {
  display: block;
  opacity: 0;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}

.main-phase-item.leaving {
  display: block;
  opacity: 0;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.main-phase-item.inactive {
  display: none !important;
  opacity: 0;
}

#page-slider {
  position: absolute;
  left: 0;
  width: 50px;
  height: 100%;
}