/* GENERIC STYLES */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

.yellow {
  color: #ee2;
}

.orange {
  color: #ea6;
}

.purple {
  color: #a2a;
}

.green {
  color: #2c2;
}

.cyan {
  color: #2cc;
}

.red {
  color: #c66;
}

.blue {
  color: #66c;
}

.bold {
  font-weight: bold;
}
.dark {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
}

.text-border {
  text-shadow: -1px 0 #222, 1px 0 #222, 0 1px #222, 0 -1px #222;
}

body {
  background-color: black;
}

/* --- */

#app {
  min-height: 100vh;
  /* background-color: #222; */
  color: #eee;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#bg-video-anim-container {
  position: fixed;
  top: 0;
  left: 0;
  filter: hue-rotate(45deg) brightness(0.85) contrast(1.3);
  -webkit-filter: hue-rotate(45deg) brightness(0.85) contrast(1.3);
  z-index: -1;
}

#bg-video-anim {
  width: 100vw;
  height: 100%;
  // background-color: black;
}

#bg-video-anim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -1;
  background-color: black;
}
