#footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3em;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: Khula;
    font-weight: 200;
}

#footer-container a {
    text-decoration: none;
    color: #f99;
}

#footer-container a:hover {
    text-decoration: none;
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
}

.footer-logo {
    width: 3em;
    height: 3em;
}

.footer-logo:hover {
    cursor: pointer;
}

.github {
    filter: brightness(0%) invert(100%);
    -webkit-filter: brightness(0%) invert(100%);
    width: 2.25em;
    height: 2.25em;
    padding: 0 5px 0 0;
}
