
#help-message {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;
    bottom: 75px;
    color: #eee;
    text-shadow: -1px 0 #222, 1px 0 #222, 0 1px #222, 0 -1px #222;
}